{% extends 'base.html.twig' %}

{% block title %}
	Gestionnaire des utilisateurs
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}

	<div id="users" class="row p-3">

		<h1 class="text-center col-12 mt-5 mb-3">Liste des utilisateurs</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success col-12">{{ message }}</div>
		{% endfor %}

		<table class="table table-striped table-bordered col-12 text-center">
			<thead>
				<tr>
					<th>#</th>
					<th>Avatar</th>
					<th>Nom</th>
					<th>E-mail</th>
					<th>Nom d'utilisateur</th>
					<th>Rôles</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td class="avatars">
							<img src="{{ asset('images/avatars/'~ user.avatar)|imagine_filter('profil') }}" alt="{{ user.avatar }}" class="rounded img-fluid">
						</td>
						<td>{{ user.firstname }}
							{{ user.lastname }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.username }}</td>
						<td>
							{% for role in user.roles %}
								{% if role is same as ('ROLE_ADMIN') %}
									<span class="badge rounded-pill bg-info text-light">Administrateur</span>
								{% elseif role is same as ('ROLE_USER') %}
									<span class="badge rounded-pill bg-secondary text-light">Utilisateur</span>
								{% endif %}
							{% endfor %}
						</td>
						<td>
							<a href="{{ path('admin_users_edit', { 'id': user.id }) }}" class="btn btn-warning">
								<i class="fas fa-pen"></i>
							</a>
							<a href="{{ path('admin_users_delete', { 'id': user.id }) }}" class="btn btn-danger">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<td class="py-5 text-center text-muted" colspan="4">Aucun utilisateur pour le moment..</td>
				{% endfor %}
			</tbody>
		</table>

		{{ knp_pagination_render(users) }}

	</div>
	<!-- Trigger/Open The Modal -->

		<div id="myBtn" class="modal-header">
			<h1 id="ttchat">
				<i class="far fa-comments"></i>
			</h1>
		</div>
	<!-- The Modal -->
		<div
			id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<section id="chat" class="col-12">

						<div>
							<span class="close">
								<i class="fas fa-times-circle"></i>
							</span>
							<a href="http://forum-nova.test/chat" target="_blank">
								<h1>
									<i class="far fa-comments"></i>
								</h1>
							</a>
							<div class="col-12 my-1">
								<div class="p-2" id="discussion"></div>
							</div>
							<div class="col-12 saisie">
								<div class="input-group">
									<input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
									<div class="input-group-append">
										<span class="input-group-text" id="valid">
											<i class="la la-check">
												<i class="fas fa-share"></i>
											</i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</div>
{% endblock %}
