{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
	<div id="login" class="row justify-content-center align-items-center">
		<form method="post" class="col-6 my-5">

			{% if app.user %}
				<div class="mb-3 text-center">
					Vous êtes connecté en tant que
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">vous déconnecter</a>
					?
				</div>
			{% endif %}

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if not app.user %}
				<h1 class="h3 mb-3 text-center">Connexion</h1>
				<label for="inputEmail">Email :</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
				<label for="inputPassword" class="mt-3">Mot de passe :</label>
				<input type="password" name="password" id="inputPassword" class="form-control" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="checkbox my-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Se souvenir de moi
					</label>
				</div>

				<button class="btn btn-block btn-dark mt-3 mb-1" type="submit">
					Connexion
				</button>

				<p>Pas encore inscrit ?
					<a href="{{ path('app_register')}}">Inscrivez vous</a>.</p>
				<p>Mot de passe oublié ?
					<a href="{{ path('app_forgot_password_request')}}">Réinitialisez le.</a>
				</p>
			{% endif %}
		</form>
	</div>
{% endblock %}
