{% extends 'base.html.twig' %}

{% block title %}Forum Nova
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}

	<div class="row align-items-start">

		<section class="welcome col-12">
			<p>Bienvenue sur Forum Nova, un site d'entraide et de discussion sur vos sujets favoris.</p>
		</section>

		<div class="col-12 col-md-8">
			{% for categorie in categories %}
				<section class="index">
					<h1>
						<a href="{{ path("page_categorie", { id: categorie.id }) }}">
							<i class="fas fa-folder"></i>
							{{ categorie.name }}</a>
					</h1>
					{% for topic in categorie.posts|slice(0, 3) %}
						<div class="row">
							<div class="col-12 col-sm">
								<h1>
									<a href="{{ path("page_topic", { id: topic.id }) }}">{{ topic.title }}</a>
									par
									{{ topic.user.username }}
								</h1>
								<p class="text-muted">
									créé le
									{{ topic.createdAt|date('d/m/Y à H:i') }}
								</p>
							</div>
							{% if (topic.posts) %}
								<div class="col-12 col-sm">
								{% if topic.posts|last %}
									<p class="font-italic">Dernière réponse par
										{{topic.posts|last.user.username}}
										le
										{{ topic.posts|last.createdAt|date('d/m/Y à H:i')}}
									</p>
								{% endif %}
								</div>
							{% endif %}
						</div>
					{% else %}
						<div class="row">
							<p class="text-muted col-12">Aucun sujet pour le moment.</p>
						</div>
					{% endfor %}
				</section>
			{% else %}
				<section class="index">
					<p class="text-muted">Aucune catégorie pour le moment.</p>
				</section>
			{% endfor %}
		</div>

		<aside class="col-12 col-md-4">
			<section class="news">
				<h1>Jeux les plus attendus</h1>
				<ul>
					<li>1. Resident Evil Village</li>
					<li>2. Mass Effect Legendary Edition</li>
					<li>3. Légendes Pokémons : Arceus</li>
					<li>4. Final Fantasy VII : Ever Crisis</li>
					<li>5. Monster Hunter Rise</li>
				</ul>
			</section>
			<section class="stats">
				<h1>Statistiques</h1>
				<ul>
					<li>{{ nbpost }}
						messages</li>
					<li>{{ nbuser }}
						membres</li>
					{% if newmember %}
					<li>Bienvenue à
						{{ newmember.username }}</li>
					{% endif %}
				</ul>
			</section>
		</aside>
		
		<!-- Trigger/Open The Modal -->

		<div id="myBtn" class="modal-header">
			<h1 id="ttchat">
				<i class="far fa-comments"></i>
			</h1>
		</div>


		<!-- The Modal -->
		<div
			id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<section id="chat" class="col-12">

						<div>
							<span class="close">
								<i class="fas fa-times-circle"></i>
							</span>
							<a href="http://forum-nova.test/chat" target="_blank">
								<h1>
									<i class="far fa-comments"></i>
								</h1>
							</a>
							<div class="col-12 my-1">
								<div class="p-2" id="discussion"></div>
							</div>
							<div class="col-12 saisie">
								<div class="input-group">
									<input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
									<div class="input-group-append">
										<span class="input-group-text" id="valid">
											<i class="la la-check">
												<i class="fas fa-share"></i>
											</i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</div>{% endblock %}
