{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
	<div id="register" class="row justify-content-center align-items-center">
		<div class="col-12 col-sm-8 my-5">
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}

			<h1>Inscription</h1>

			{{ form_start(registrationForm) }}

			<div class="row">
				<div class="col-12">
					{{ form_row(registrationForm.imageFile) }}
				</div>
				<div class="col-6">
					{{ form_row(registrationForm.firstname) }}
				</div>
				<div class="col-6">
					{{ form_row(registrationForm.lastname) }}
				</div>
				<div class="col-12">
					{{ form_row(registrationForm.username) }}
				</div>
				<div class="col-12">
					{{ form_row(registrationForm.email) }}
				</div>
				<div class="col-6">
					{{ form_row(registrationForm.plainPassword.first) }}
				</div>
				<div class="col-6">
					{{ form_row(registrationForm.plainPassword.second) }}
				</div>
				<div class="col-12">
                <p>Lire les<a href="{{ path("app_register_mentions") }}"> mentions légales</a> et les <a href="{{ path("app_register_conditions")}}">conditions générales d'utilisations</a>.</p>
				</div>
				<div class="col-12">
					{{ form_row(registrationForm.agreeTerms) }}
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-block btn-dark">S'inscrire</button>
				</div>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
