{% extends 'base.html.twig' %}

{% block title %}Édition de sujet
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
	<div id="admin_form" class="row align-items-center justify-content-center">
		<div class="col-12 col-sm-6">
			<h1 class="text-center mb-5">Editer un sujet</h1>
			{{ form_start(formEditPost) }}
			{{ form_rest(formEditPost) }}

			<button class="btn btn-dark btn-block">
				<i class="fas fa-plus-circle"></i>
				Éditer
			</button>

			{{ form_end(formEditPost) }}
		</div>
	</div>

{% endblock %}
