{% extends 'base.html.twig' %}

{% block title %}
	Gestionnaire des Posts
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
	<div id="posts" class="row p-3">
		<h1 class="text-center col-12 mt-5 mb-3">Liste des posts</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		<table class="table table-striped table-bordered col-12 text-center">
			<thead>
				<tr>
					<th>#</th>
					<th>Titre</th>
					<th>Date de création</th>
					<th>Auteur</th>
					<th>Catégorie</th>
					<th>Statut</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<td>{{  post.id }}</td>
						<td>{{  post.title }}</td>
						<td>{{  post.createdAt|date('d.m.Y') }}</td>
						<td>{{  post.user.username }}</td>
						<td>{{  post.categorie.name }}</td>
						<td>{{  post.priority ? 'Prioritaire' : 'Non Prioritaire' }}</td>
						<td>
							<a href="{{ path('admin_posts_edit', { 'id': post.id }) }}" class="btn btn-warning">
								<i class="fas fa-pen"></i>
							</a>
							<a href="{{ path('admin_posts_delete', { 'id': post.id }) }}" class="btn btn-danger">
								<i class="fas fa-trash-alt"></i>
							</a>

						</td>
					</tr>
				{% else %}
					<td class="py-5 text-center text-muted" colspan="7">Aucun post pour le moment..</td>
				{% endfor %}
			</tbody>
		</table>
	{{ knp_pagination_render(posts) }}
	<!-- Trigger/Open The Modal -->

		<div id="myBtn" class="modal-header">
			<h1 id="ttchat">
				<i class="far fa-comments"></i>
			</h1>
		</div>
	<!-- The Modal -->
		<div
			id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<section id="chat" class="col-12">

						<div>
							<span class="close">
								<i class="fas fa-times-circle"></i>
							</span>
							<a href="http://forum-nova.test/chat" target="_blank">
								<h1>
									<i class="far fa-comments"></i>
								</h1>
							</a>
							<div class="col-12 my-1">
								<div class="p-2" id="discussion"></div>
							</div>
							<div class="col-12 saisie">
								<div class="input-group">
									<input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
									<div class="input-group-append">
										<span class="input-group-text" id="valid">
											<i class="la la-check">
												<i class="fas fa-share"></i>
											</i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</div>
	</div>
{% endblock %}
