{% extends 'base.html.twig' %}

{% block title %}Mail envoyé !{% endblock %}

{% block body %}
    
<div id="login" class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-8 my-5">
        <h1 class="h3 mb-3 text-center">Mail envoyé !</h1>
        <p>
            Un e-mail contenant un lien pour réinitialiser votre mot de passe a été envoyé.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>
            Si vous n'avez pas réçu de mail, vérifiez dans vos spams ou  <a href="{{ path('app_forgot_password_request') }}">Renvoyer</a>.
        </p>
    </div>
{% endblock %}
