{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
	<div id="login" class="row justify-content-center align-items-center">
		<div class="col-12 col-sm-8 my-5">
			{% for flashError in app.flashes('reset_password_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}
			<h1 class="h3 mb-3 text-center">Réinitialisation du mot de passe</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Entrez votre adresse e-mail afin de recevoir un lien de réinitialisation de mot de passe.
                </small>
            </div>

			<button class="btn btn-block btn-dark mt-3 mb-1">Envoyer un lien de réinitialisation de mot de passe</button>
			{{ form_end(requestForm) }}
		</div>
	</div>
{% endblock %}
