{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
<div id="login" class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-8 my-5">
    <h1 class="h3 mb-3 text-center">Mot de passe oublié</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-block btn-dark mt-3 mb-1">Créer un nouveau mot de passe</button>
    {{ form_end(resetForm) }}

    </div>
</div>
{% endblock %}
