#clock-disc {
  height:1vh;
  padding-left: 70%;
   display:flex;
   align-items: center;
   justify-content: center;
}



.main__right__top__onShelf {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 90%;
  padding-left: 50%;
}

/* .main__right__top__onShelf__clock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  background: white;
  border-radius: 5px;
}

.main__right__top__onShelf__clock__hour {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 90%;
  height: 100%;
}

.main__right__top__onShelf__clock__hour h3 {
  margin: 0;
  font-weight: 200;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  letter-spacing: 6px;
}

.main__right__top__onShelf__clock__screen {
  width: 135px;
  height: 45px;
  background: black;
  border-radius: 3px;
} */

.main__right__bot__player {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 210px;
  height: 30vh;
  
}

.main__right__bot__player__board {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 50px;
}

.main__right__bot__player__board__prev {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.main__right__bot__player__board__prev img {
  height: 100%;
  width: 100%;
}

.main__right__bot__player__board__pause {
  cursor: pointer;
  position: absolute;
  width: 18px;
  height: 18px;
}

.main__right__bot__player__board__pause img {
  height: 100%;
  width: 100%;
}

.main__right__bot__player__board__play {
  cursor: pointer;
  position: absolute;
  width: 18px;
  height: 18px;
}

.main__right__bot__player__board__play img {
  height: 100%;
  width: 100%;
}

.main__right__bot__player__board__next {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.main__right__bot__player__board__next img {
  height: 100%;
  width: 100%;
}

.main__right__bot__player__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.main__right__bot__player__box__disk {
  animation-name: disk-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 90px;

}

.main__right__bot__player__box__disk__album {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  background: transparent;
  border-radius: 90px;
}

.main__right__bot__player__box__disk__album img {
  height: 300%;
}

.hidden {
  display: none;
}

.disk-animation {
  animation-play-state: running;
}

@keyframes disk-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes board-button {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes next-board {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 1100px) {
  .main__right {
    display: none;
  }
}

@media (max-width: 812px) {
  a {
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */