/* GENERAL */
:root {
   font-size:12px;
}

html, body {
   overflow-x: hidden;
   background:#EFF0EB;
   transition: background 400ms ease-in-out;
}

/* HEADER */
header {
   background-image:url(../images/site/background3.jpg);
   background-size:cover;
   background-position:center;
   height:30vh;
}

header h1 {
   height:30vh;
   padding:3vh;
   display:flex;
   align-items: center;
   justify-content: center;
}

header h1 img {
   display:none;
}

header h1 a {
   display:block;
   background:#2D2D2F;
   text-transform:uppercase;
   padding:.5rem 2rem;
   color:#B0DCE7;
   font-family: 'Train One', cursive;
   font-size:4rem;
   border-radius: 10px;
   text-shadow:0 0 2px black;
   transition:color ease-in-out 200ms;
}

header h1 a:hover {
   text-decoration:none;
   color:#0B5F6A;
}

/* Media querie pour les écrans au dessus de la résolution mobile */
@media screen and (min-width: 576px){
   header h1 {
      justify-content: left;
   }

   header h1 img {
      display:inline-block;
      position: relative;
      z-index:2;
      height:10vh;
      background:#2D2D2F;
      padding:10px;
      border-radius:50%;
   }

   header h1 a {
      position: relative;
      z-index:1;
      margin-left:-1.5rem;
      border-radius:0 10px 10px 0;
   }
}

/* NAVBAR */
#nav {
   background:#2D2D2F;
}

#nav .avatar {
   height:2rem;
   border-radius:5px;
}

/* MAIN */
main {
   background:white;
   min-height: 55vh;
}

/* INDEX */
.welcome {
   padding-top:1rem;
}

.welcome p {
   background:#60365E;
   color:#EFF0EB;
   padding:1rem;
}

/* affichage des catégories */
section.index {
   border:1px solid #B0DCE7;
   margin-bottom:1rem;
}

.index > h1 {
   background:#B0DCE7;
   font-size:1rem;
   line-height:1rem;
   padding:.5rem;
   margin:0;
}

.index > h1 a {
   color:#2D2D2F;
   text-transform:uppercase;
}

.index > div {
   border:1px solid #EFF0EB;
   margin:0 1rem 1rem;
   padding:.5rem;
}

.index > div:first-of-type {
   margin-top:1rem;
}

.index > div h1 {
   font-size:1rem;
}

.index > div h1 a {
   color:#0B5F6A;
}

.index > div p {
   margin:0;
}

aside h1 {
   font-size:1.5rem;
   text-transform:uppercase;
   color:#60365E;
   text-align:center;
   font-family: 'Oswald', sans-serif;
   border-bottom:1px solid white;
   padding-bottom:1rem;
   margin-bottom:.5rem;
}

aside section {
   background:#EFF0EB;
   margin-bottom:1rem;
   padding:1rem;
}

aside ul {
   list-style-type: none;
   margin:0;
   padding:0;
   text-align:center;
}

/* PAGE CATEGORIE */

#categorie {
   padding:1rem;
   position:relative;
}

#categorie > h1 {
   background:#60365E;
   color:#EFF0EB;
   font-family: 'Oswald', sans-serif;
   text-transform:uppercase;
   padding:.5rem 1rem;
   margin-bottom:1rem;
}

#categorie > a {
   position:absolute;
   top:1.9rem;
   right:1.9rem;
   text-transform:uppercase;
   background:#EFF0EB;
   border-width:0;
   color:#2D2D2F;
   font-weight:bold;
}

#categorie > section {
   border:1px solid #EFF0EB;
   margin-bottom:1rem;
   padding:.5rem;
}

#categorie > section h1 {
   font-size:1rem;
}

#categorie > section h1 a {
   color:#0B5F6A;
}

#categorie > section p {
   margin:0;
}

/* TOPIC */
#topic > h1 {
   background:#B0DCE7;
   color:#2D2D2F;
   text-transform:uppercase;
   font-weight:bold;
   padding:.5rem;
   font-size:2rem
}

#topic nav a {
   color:#0B5F6A;
}

#topic .card-body img {
   max-width:100%;
   height:auto !important;
}

.btn-dark {
   background:#2D2D2F;
   text-transform:uppercase;
   font-weight:bold;
}

/* CONNEXION */
#login, #register, #groups {
   min-height:55vh;
}

/* FORMULAIRES D'ADMINISTRATION */
#admin_form, #user_form {
   min-height:55vh;
}

#users img {
   height:4rem;
   max-height:4rem;
}

/* PAGINATION */
.pagination {
   justify-content: center;
   font-size:1.2rem;
   padding-bottom:1rem;
}

.pagination span {
   background:#EFF0EB;
   padding:.3rem 1rem;
   border-radius:10px;
   margin-right:.5rem;
}

.pagination span.current {
   background:transparent;
}

/* PAGE LISTE DE MEMBRES */
table td {
   vertical-align:middle !important;
}

/* FOOTER */
footer {
   background:#2D2D2F;
   display:flex;
   justify-content: space-around;
   padding:3rem 0;
}

footer a {
   color:#B0DCE7;
}

footer a:hover {
   color:#EFF0EB;
}

footer .social {
   font-size:3rem;
}

footer .fa-facebook-square {
   color:#3b5998;
}

footer .fa-twitter-square {
   color:#00acee;
}

/* MODAL CHAT */
/* Bouton / trigger */
#myBtn {
   display: inline-block;
   position: fixed;
   /* width: 10rem; */
   bottom: 2rem;
   right: 2rem;
   color: #B0DCE7;
   padding:1rem;
   border-radius:50%;
   background-color: #2D2D2F;
   border: solid;
   cursor:pointer;
}

#myBtn h1 {
   margin:0;
}

/* The Modal (background) */
.modal {
   display: none; 
   position: fixed; 
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgba(0, 0, 0, 0.4); 
   -webkit-animation-name: fadeIn; 
   -webkit-animation-duration: 0.4s;
   animation-name: fadeIn;
   animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
   position: fixed;
   bottom: 0;
   background-color: #fefefe;
   width: 100%;
   -webkit-animation-name: slideIn;
   -webkit-animation-duration: 0.4s;
   animation-name: slideIn;
   animation-duration: 0.4s
}

/* The Close Button */
.close {
   color: white;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

.modal-body {
   padding: 2px 16px;
}

/* Widget chat */
#chat {
   display:block;
   position: static;
   margin-bottom:1rem;
}

#chat > div {
   border:2px solid #B0DCE7;
   background:white;
   padding-bottom:1rem;
}

#chat h1 {
   font-size:1.5rem;
   text-align:center;
   background:#B0DCE7;
   text-transform:uppercase;
   padding:.5rem 0;
   margin:0;
}

#chat #discussion {
   padding:.5rem;
   height:15rem;
   overflow:auto;
}

#chat #discussion p {
   margin:0;
}

#chat #discussion .avatar {
   border-radius:50% !important;
   width:30px;
   height:30px;
   object-fit: cover;
   display:inline-block;
   margin-right:10px;
}

/* Media querie pour les écrans au dessus de la résolution mobile */
@media screen and (min-width: 768px){
   #chat {
      display:inline-block;
      position:fixed;
      width: 40rem;
      bottom: 0rem;
      right: 10rem;
   }

   #chat > div {
      border-radius:5px;
   }
}

/* Add Animation */
@-webkit-keyframes slideIn {
   from {
      bottom: -300px;
      opacity: 0
   }
   to {
      bottom: 0;
      opacity: 1
   }
}

@keyframes slideIn {
   from {
      bottom: -300px;
      opacity: 0
   }
   to {
      bottom: 0;
      opacity: 1
   }
}

@-webkit-keyframes fadeIn {
   from {
      opacity: 0
   }
   to {
      opacity: 1
   }
}

@keyframes fadeIn {
   from {
      opacity: 0
   }
   to {
      opacity: 1
   }
}
