{% extends 'base.html.twig' %}

{% block title %}Edit Profile
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
	<div id="user_form" class="row align-items-center justify-content-center">
		<div class="col-12 col-sm-6">
			<h1 class="text-center mb-5">Editer un utilisateur</h1>

			{{ form_start(formEditUser) }}
			{{ form_rest(formEditUser) }}
			<button class="btn btn-dark btn-block">
				<i class="fas fa-plus-circle"></i>
				Éditer
			</button>
			{{ form_end(formEditUser) }}
		</div>
	</div>
{% endblock %}
