{% extends 'base.html.twig' %}

{% block title %}Hello
	{{ user.firstname }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}

	<div id="users_profil" class="row p-3">

		<h1 class="text-center col-12 mt-5 mb-3">Profil de
			{{ app.user.username }}</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success col-12">{{ message }}</div>
		{% endfor %}

		<div class="avatar col-3">
			<img src="{{ asset('images/avatars/'~ app.user.avatar)|imagine_filter('profil') }}" alt="{{ app.user.avatar }}" class="rounded img-fluid">
		</div>
		<div class="col-9">
			<p>
				<span class="text-bold">Nom d'utilisateur :</span>
				{{ user.username }}</p>
			<p>
				<span class="text-bold">Prénom Nom :</span>
				{{ user.firstname }}
				{{ user.lastname }}</p>
			<p>
				<span class="text-bold">Adresse email :</span>
				{{ user.email }}</p>
			<p>
				<span class="text-bold">Rôle(s) :</span>
				{% for role in user.roles %}
					{% if role is same as ('ROLE_USER') %}
						<span class="badge rounded-pill bg-secondary text-light">Utilisateur</span>
					{% elseif role is same as ('ROLE_ADMIN') %}
						<span class="badge rounded-pill bg-info text-light">Administrateur</span>
					{% endif %}
				{% endfor %}
			</p>
			<a href="{{ path('profil_editer', { 'id': user.id }) }}" class="btn btn-dark btn-block">
				<i class="fas fa-pen"></i>
				Modifier les informations de mon profil
			</a>
		</div>

		<h2 class="text-center col-12 mt-5 mb-3">Liste des sujets</h2>
		<div class="col-12">
			<table class="table table-striped table-bordered text-center">
				<thead>
					<tr>
						<th>#</th>
						<th>Sujet</th>
						<th>Création</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for post in post %}
						{# afficher uniquement les posts "parents" = si titre existe #}
						{% if post.title is not same as null %}
							<tr>
								<td>{{  post.id }}</td>
								<td>{{  post.title }}</td>
								<td>{{  post.createdAt|date('d.m.Y à H:i') }}</td>
								<td>
									<a href="{{ path('page_topic', { 'id': post.id }) }}" class="btn btn-primary">
										<i class="fas fa-compass"></i>
										Voir
									</a>
								</td>
							</tr>
						{% endif %}
					{% else %}
						<tr>
							<td class="py-5 text-center text-muted" colspan="4">Aucun post suivi pour le moment..</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- Trigger/Open The Modal -->

		<div id="myBtn" class="modal-header">
			<h1 id="ttchat">
				<i class="far fa-comments"></i>
			</h1>
		</div>
	<!-- The Modal -->
		<div
			id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<section id="chat" class="col-12">

						<div>
							<span class="close">
								<i class="fas fa-times-circle"></i>
							</span>
							<a href="http://forum-nova.test/chat" target="_blank">
								<h1>
									<i class="far fa-comments"></i>
								</h1>
							</a>
							<div class="col-12 my-1">
								<div class="p-2" id="discussion"></div>
							</div>
							<div class="col-12 saisie">
								<div class="input-group">
									<input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
									<div class="input-group-append">
										<span class="input-group-text" id="valid">
											<i class="la la-check">
												<i class="fas fa-share"></i>
											</i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</div>
{% endblock %}
