{% extends 'base.html.twig' %}

{% block title %}
	Gestionnaire des utilisateurs
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
	<script src="{{ asset('js/deleteModal.js') }}" defer></script>
{% endblock %}

{% block body %}

	<div id="users" class="row p-3 justify-content-center">

		<h1 class="text-center col-12 col-md-8 mt-5 mb-5">Liste des utilisateurs</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success col-12 col-md-8">{{ message }}</div>
		{% endfor %}

		<table class="table table-striped table-bordered col-12 col-md-8 text-center">
			<thead>
				<tr>
					<th>#</th>
					<th>Avatar</th>
					<th>Nom d'utilisateur</th>
					<th>Groupes</th>
					<th>Rôles</th>
					<th>Dernier message</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td class="avatars">
							<img src="{{ asset('images/avatars/'~ user.avatar)|imagine_filter('profil') }}" alt="{{ user.avatar }}" class="rounded img-fluid">
						</td>
						<td>{{ user.username }}</td>
						<td>
							{% for group in user.groups %}
								<a href="{{ path('group_page', {id: group.id}) }}">
									<span class="badge rounded-pill text-light" style="background-color:{{ group.color }};">
										{{ group.name }}
									</span>
								</a>
							{% else %}
								<p class="text-muted font-italic">Aucun groupe</p>
							{% endfor %}
						</td>
						<td>
							{% for role in user.roles %}
								{% if role is same as ('ROLE_ADMIN') %}
									<span class="badge rounded-pill bg-info text-light">Administrateur</span>
								{% elseif role is same as ('ROLE_USER') %}
									<span class="badge rounded-pill bg-secondary text-light">Utilisateur</span>
								{% endif %}
							{% endfor %}
						</td>
						<td>
							{% for post in user.posts|reverse(true)|slice(0,1) %}
								Le
								{{ post.createdAt|date('d/m/Y à H:i') }}
							{% endfor %}
						</td>
					</tr>
				{% else %}
					<td class="py-5 text-center text-muted" colspan="6">Aucun utilisateur pour le moment..</td>
				{% endfor %}
			</tbody>
		</table>

		{{ knp_pagination_render(users) }}

	</div>
	<!-- Trigger/Open The Modal -->

		<div id="myBtn" class="modal-header">
			<h1 id="ttchat">
				<i class="far fa-comments"></i>
			</h1>
		</div>
	<!-- The Modal -->
		<div
			id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<section id="chat" class="col-12">

						<div>
							<span class="close">
								<i class="fas fa-times-circle"></i>
							</span>
							<a href="http://forum-nova.test/chat" target="_blank">
								<h1>
									<i class="far fa-comments"></i>
								</h1>
							</a>
							<div class="col-12 my-1">
								<div class="p-2" id="discussion"></div>
							</div>
							<div class="col-12 saisie">
								<div class="input-group">
									<input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
									<div class="input-group-append">
										<span class="input-group-text" id="valid">
											<i class="la la-check">
												<i class="fas fa-share"></i>
											</i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</div>
{% endblock %}
