{% extends "base.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}

	<style type="text/css">
		#discussion {
			height: 78vh;
			box-shadow: 0 0 5px grey;
			overflow-y: scroll;
		}

		.saisie {
			height: 20vh;
		}
	</style>

	<div class="col-12 my-1">
		<div class="p-2" id="discussion">
			
		</div>
	</div>
	<div class="col-12 saisie">
		<div class="input-group">
			<input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
			<div class="input-group-append">
				<span class="input-group-text" id="valid">
					<i class="la la-check">Envoyer</i>
				</span>
			</div>
		</div>
	</div>

{% endblock %}
