<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Forum Nova
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/site/favicon.gif') }}"/>
		{% block stylesheets %}
			{# bootstrap css #}
			<link
			rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
			{# fontawesome #}
			<link
			rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
			{# google fonts #}
			<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Train+One&display=swap" rel="stylesheet">
			{# css personnalisé #}
			<link href="{{ asset('css/style_clair.css') }}" rel="stylesheet" id="theme-link">
			<link href="{{ asset('css/forum-nova.css') }}" rel="stylesheet">

		{% endblock %}

		{% block javascripts %}
			{# bootstrap js #}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

			<script src="{{ asset('js/script.js') }}" defer></script>
			<script src="{{ asset('js/forum-nova.js')}}" defer></script>


		{% endblock %}
	</head>
	<body>
		<header>
			<h1>
				<img src="{{ asset('images/site/'~ 'logo.svg') }}" alt="logo">
				<a href="{{ path('home') }}">Forum Nova</a>
			</h1>
			<!--Horloge et Music-->
			<section id="clock-disc">
				<div class="main__right__top__onShelf">
					{# <div class="main__right__top__onShelf__clock">
						<div class="main__right__top__onShelf__clock__hour">
							<h3 class="js-clock"></h3>
						</div>
						<div class="main__right__top__onShelf__clock__screen"></div>
					</div> #}

					<!--RIGHT SIDE BOT PART PLAYER-->
					<div class="main__right__bot__player">
						<div class="main__right__bot__player__box">
							<div class="main__right__bot__player__box__disk">
								<div class="main__right__bot__player__box__disk__light"></div>
								<div class="main__right__bot__player__box__disk__light-alt"></div>
								<div class="main__right__bot__player__box__disk__album">
									<img alt="shelfPlant" src="/images/site/meteorite.svg">
								</div>
								<div class="main__right__bot__player__box__disk__hole"></div>
							</div>
						</div>
						<div class="main__right__bot__player__board">
							<div class="main__right__bot__player__board__prev js-prev-button">
								<img src="/images/prev.svg">
							</div>
							<div class="main__right__bot__player__board__pause js-pause-button hidden">
								<img src="/images/pause.svg">
							</div>
							<div class="main__right__bot__player__board__play js-play-button">
								<img src="/images/play.svg">
							</div>
							<div class="main__right__bot__player__board__next js-next-button">
								<img src="/images/next.svg">
							</div>
						</div>

					</div>
				</div>
			</section>

		</header>

		<nav id="nav" class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" href="{{ path('home') }}">
				<i class="fas fa-home"></i>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catégories</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for categorie in categories %}
								<li>
									<a class="dropdown-item" href="{{ path("page_categorie", { id: categorie.id }) }}">{{ categorie.name }}</a>
								</li>
							{% else %}
								<li class="text-muted dropdown-item">Aucune catégorie pour le moment.</li>
							{% endfor %}
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('user_list') }}">Membres</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li>
						<span id="theme" class="text-light d-flex align-items-center">
							<i class="far fa-moon"></i>
							<button class="btn text-light mx-2">
							<i class="fas fa-toggle-off"></i>
							</button>
							<i class="far fa-sun"></i>
						</span>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					{% if app.user is null %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
						</li>
					{% else %}
						<li class="nav-item nav-link">Bienvenue {{ app.user.username }}</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('profil', {id: app.user.id}) }}">Mon compte</a>
						</li>
						{% if is_granted("ROLE_ADMIN") %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administration</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{ path("admin_categories") }}">Catégories</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path("admin_posts") }}">Posts</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path("admin_users") }}">Utilisateurs</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path("admin_groups") }}">Groupes</a>
								</li>
							</ul>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
						{% if app.user.avatar %}
						<li class="nav-item">
							<img src="{{ asset('/images/avatars/'~ app.user.avatar)|imagine_filter('navatar') }}" alt="{{ app.user.username }}" class="avatar"/>
						</li>
						{% endif %}
					{% endif %}
				</ul>
			</div>
		</nav>

		<main class="container"> {% block body %}{% endblock %}</main>

		<footer class="text-light container-fluid">
			<div class="container">
				<div class="row text-center align-items-center">
					{# Copyright; mentions légales; vie privée; réseaux sociaux #}
					<section class="col-12 col-sm-4">
						<p>&copy; Forum Nova 2021</p>
					</section>
					<section class="col-12 col-sm-4">
						<p>
							<a href="{{ path("app_register_mentions") }}">Mentions légales</a>
						</p>
						<p>
							<a href="{{ path("app_register_conditions") }}">Vie privée</a>
						</p>
					</section>
					<section class="social col-12 col-sm-4">
						<a href="#"><i class="fab fa-facebook-square"></i></a>
						<a href="#"><i class="fab fa-twitter-square"></i></a>
					</section>
				</div>
			</div>
		</footer>

	</body>
</html>
