{% extends 'base.html.twig' %}

{% block title %}Modification du groupe
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}

	<div id="admin_form" class="row align-items-center justify-content-center">
		<div class="col-12 col-sm-6">
			<h1 class="text-center mb-5">Modification du groupe</h1>

			{{ form_start(formEditCategorie) }}
			{{ form_rest(formEditCategorie) }}

			<button class="btn btn-dark btn-block">
				<i class="fas fa-plus-circle"></i>
				Modifier
			</button>
			{{ form_end(formEditCategorie) }}
		</div>
	</div>

{% endblock %}
