{% extends 'base.html.twig' %}

{% block title %}
	Gestionnaire de catégories
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}

	<div id="groups" class="row p-3">

		<h1 class="text-center col-9 mt-5 mb-3">Liste des groupes</h1>
		<div class="col-3 text-right mt-5 mb-3">
			<a href="{{ path('admin_groups_new') }}" class="btn btn-success">
				<i class="fas fa-plus-circle"></i>
				Ajouter
			</a>
		</div>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success col-12">{{ message }}</div>
		{% endfor %}

		<table class="table table-striped table-bordered col-12 text-center">
			<thead>
				<tr>
					<th>#</th>
					<th>Couleur</th>
					<th>Nom</th>
					<th>Création</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for group in groups %}
					<tr>
						<td>{{ group.id }}</td>
						<td style="background:{{ group.color }};" class="text-light">{{ group.color }}</td>
						<td>
							<a href="{{ path('group_page', {id: group.id}) }}">{{ group.name }}</a>
						</td>
						<td>{{ group.createdAt|date ('d/m/Y') }}</td>
						<td>
							<a href="{{ path('admin_groups_edit', { 'id': group.id }) }}" class="btn btn-warning">
								<i class="fas fa-pen"></i>
							</a>
							<a href="{{ path('admin_groups_delete', { 'id': group.id }) }}" class="btn btn-danger">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<td class="py-5 text-center text-muted" colspan="5">Aucune groupe pour le moment.</td>
				{% endfor %}
			</tbody>
		</table>

		{{ knp_pagination_render(groups) }}

	</div>
	<!-- Trigger/Open The Modal -->

		<div id="myBtn" class="modal-header">
			<h1 id="ttchat">
				<i class="far fa-comments"></i>
			</h1>
		</div>
	<!-- The Modal -->
		<div
			id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<section id="chat" class="col-12">

						<div>
							<span class="close">
								<i class="fas fa-times-circle"></i>
							</span>
							<a href="http://forum-nova.test/chat" target="_blank">
								<h1>
									<i class="far fa-comments"></i>
								</h1>
							</a>
							<div class="col-12 my-1">
								<div class="p-2" id="discussion"></div>
							</div>
							<div class="col-12 saisie">
								<div class="input-group">
									<input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
									<div class="input-group-append">
										<span class="input-group-text" id="valid">
											<i class="la la-check">
												<i class="fas fa-share"></i>
											</i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</div>
{% endblock %}
