{% extends 'base.html.twig' %}

{% block title %}
	Éditer
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
	<main class="container">
		<div class="row">
			<section class="editor col-12 my-5">
				{{ form_start(formContent) }}
				{{ form_row(formContent.content) }}
				<button class="btn btn-block btn-success">Modifier</button>
				{{ form_row(formContent._token) }}
				{{ form_end(formContent, {'render_rest': false}) }}
			</section>
		</div>
	</main>
{% endblock %}
