{% extends 'base.html.twig' %}

{% block title %}
	{{ topic.title }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
	<div id="topic" class="row no-gutters">

		<nav class="col-12 mt-3">
			<a href="{{ path("page_categorie", { id: topic.categorie.id }) }}">
				<i class="fas fa-arrow-left"></i>
				Retour à
				{{ topic.categorie.name }}</a>
		</nav>

		<h1 class="col-12 mb-3">{{ topic.title }}</h1>

		{# gestion du message de succès #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success col-12 px-3">{{ message }}</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger col-12 px-3">{{ message }}</div>
		{% endfor %}

      {# Affichage du premier post du sujet, le "parent" #}
      <div class="col-12 card post-{{ topic.id }} mb-3">
         <div class="row no-gutters card-header align-items-center">
            <img src="{{ asset('images/avatars/'~ topic.user.avatar)|imagine_filter('profil') }}" alt="{{ topic.user.avatar }}" class="rounded col-1 img-fluid">
            <div class="col-9 pl-3">
            <p>Par {{ topic.user.username }} 
            le {{ topic.createdAt|date('d/m/Y à H:i') }}.</p>
            <hr>
            {% for group in topic.user.groups %}
               <span class="badge rounded-pill text-light"
                  style="background-color:{{ group.color }};">
                  {{ group.name }}
               </span>
            {% endfor %}
            </div>
            {% if app.user and ((topic.user.id is same as app.user.id) or is_granted('ROLE_ADMIN')) %}
            <div class="col-2 text-right">
               <a href="{{ path('edit_post', {id:topic.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
               <a href="{{ path('delete_post', {id:topic.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
            </div>
            {% endif %}
         </div>
         <div class="p-3 card-body">
            <p class="text-justify">{{ topic.content|raw }}</p>
            {% if topic.updatedAt %}
               <p class="text-muted">Dernière édition : {{ topic.updatedAt|date('d/m/Y à H:i') }}.</p>
            {% endif %}
         </div>
      </div>

      {# Affichage des posts liés à leur parent #}
      {% for post in posts %}
      <div class="col-12 card post-{{ post.id }} mb-3">
         <div class="row no-gutters card-header align-items-center">
            <img src="{{ '/images/avatars/'~ post.user.avatar }}" alt="{{ post.user.username }}" class="rounded col-1">
            <div class="col-9 pl-3">
               <p>Par {{ post.user.username }} 
               le {{ post.createdAt|date('d/m/Y à H:i') }}.</p>
               <hr>
               {% for group in post.user.groups %}
                  <span class="badge rounded-pill text-light"
                     style="background-color:{{ group.color }};">
                     {{ group.name }}
                  </span>
               {% endfor %}
            </div>
            {% if app.user and ((topic.user.id is same as app.user.id) or is_granted('ROLE_ADMIN')) %}
            <div class="col-2 text-right">
               <a href="{{ path('edit_post', {id:post.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
               <a href="{{ path('delete_post', {id:post.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
            </div>
            {% endif %}
         </div>
         <div class="p-3 card-body">
            <p class="text-justify">{{ post.content|raw }}</p>
            {% if post.updatedAt %}
               <p class="text-muted">Dernière édition : {{ post.updatedAt|date('d/m/Y à H:i') }}.</p>
            {% endif %}
         </div>
      </div>
      {% else %}
      <div class="col-12 text-muted">Aucune réponse pour le moment.</div>
      {% endfor %}

		{# Pagination pour les posts #}
		<div class="col-12">
			{{ knp_pagination_render(posts) }}
		</div>

		{% if app.user %}
			{# Editeur, visible uniquement aux connectés #}
			<div class="editor col-12 mt-2 mb-4">
				{{ form_start(formContent) }}
				{{ form_row(formContent.content) }}
				<button class="btn btn-block btn-dark">Ajouter</button>
				{{ form_row(formContent._token) }}
				{{ form_end(formContent, {'render_rest': false}) }}
			</div>
		{% else %}
			<p class="col-12 border my-5 p-3 text-center text-muted">Vous devez être connecté pour répondre à ce sujet.
				<a href="{{ path('app_login') }}">Connectez-vous</a>
				ou
				<a href="{{ path('app_register') }}">inscrivez-vous</a>.</p>
		{% endif %}

	</div>
   
   <!-- Trigger/Open The Modal -->

		<div id="myBtn" class="modal-header">
			<h1 id="ttchat">
				<i class="far fa-comments"></i>
			</h1>
		</div>
	<!-- The Modal -->
		<div
			id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<section id="chat" class="col-12">

						<div>
							<span class="close">
								<i class="fas fa-times-circle"></i>
							</span>
							<a href="http://forum-nova.test/chat" target="_blank">
								<h1>
									<i class="far fa-comments"></i>
								</h1>
							</a>
							<div class="col-12 my-1">
								<div class="p-2" id="discussion"></div>
							</div>
							<div class="col-12 saisie">
								<div class="input-group">
									<input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
									<div class="input-group-append">
										<span class="input-group-text" id="valid">
											<i class="la la-check">
												<i class="fas fa-share"></i>
											</i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</div>
{% endblock %}
