{% extends 'base.html.twig' %}

{% block title %}
	Nouveau sujet
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}
	<main class="container">
		<div class="row">
			<section class="editor col-12 my-5">
				{{ form_start(formContent) }}
				{{ form_row(formContent.title) }}
				{{ form_row(formContent.content) }}
				{{ form_row(formContent.categorie) }}

				{% if is_granted('ROLE_ADMIN') %}
					{{ form_row(formContent.priority) }}
				{% endif %}

				<button class="btn btn-block btn-success">Envoyer</button>
				{{ form_end(formContent) }}
			</section>
		</div>
	</main>
{% endblock %}
