{% extends 'base.html.twig' %}

{% block title %}
	{{ categorie.name }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}
{% block body %}

	<div id="categorie" class="row">
		<h1 class="col-12">
			<i class="fas fa-folder-open"></i>
			{{ categorie.name }}</h1>

		{% if app.user %}
			<a href="{{ path("add_new_post", {id: categorie.id}) }}" class="btn btn-primary">
				<i class="fas fa-plus-square"></i>
				Créer un sujet</a>
		{% endif %}

		{# gestion du message de succès #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success col-12 px-3">{{ message }}</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger col-12 px-3">{{ message }}</div>
		{% endfor %}

		{% for prio in topicsprio %}
			
			{# Affichage de la liste des sujets de cette catégorie #}
			<section class="col-12">
				<div class="row">
					<div class="col-12">
						<h1>
							<a href="{{ path("page_topic", { id: prio.id }) }}">
								<i class="fas fa-star"></i>
								{{ prio.title }}</a>
						</h1>
					</div>
					<div class="col-6">
						<p class="text-muted">créé le
							{{ prio.createdAt|date('d/m/Y à H:i') }}</p>
						<p>par
							{{ prio.user.username }}</p>
					</div>

					{% if prio.posts|last %}
					<div class="col-12 text-left col-sm-6 text-sm-right font-italic text-muted">
						<p>Dernier message par
							{{ prio.posts|last.user.username }}</p>
						<p>le
							{{ prio.posts|last.createdAt|date('d/m/Y à H:i') }}</p>
					</div>
					{% endif %}

				</div>
			</section>
		{% endfor %}

		{% for topic in topics %}
			{# Affichage de la liste des sujets de cette catégorie #}
			<section class="col-12">
				<div class="row">
					<div class="col-12">
						<h1>
							<a href="{{ path("page_topic", { id: topic.id }) }}">
								<i class="far fa-file-alt"></i>
								{{ topic.title }}</a>
						</h1>
					</div>
					<div class="col-6">
						<p class="text-muted">créé le
							{{ topic.createdAt|date('d/m/Y à H:i') }}</p>
						<p>par
							{{ topic.user.username }}</p>
					</div>

					{% if topic.posts|last %}
					<div class="col-12 text-left col-sm-6 text-sm-right font-italic text-muted">
						<p>Dernier message par
							{{ topic.posts|last.user.username }}</p>
						<p>le
							{{ topic.posts|last.createdAt|date('d/m/Y à H:i') }}</p>
					</div>
					{% endif %}

				</div>
			</section>
		{% else %}
			{# Sinon, ça veut dire qu'il n'y a a pas de sujets #}
			<p class="text-muted col-12">Aucun sujet pour le moment.</p>
		{% endfor %}

		{# Pagination pour les sujets #}
		<div class="col-12">
			{{ knp_pagination_render(topics) }}
		</div>

	</div>
	<!-- Trigger/Open The Modal -->

		<div id="myBtn" class="modal-header">
			<h1 id="ttchat">
				<i class="far fa-comments"></i>
			</h1>
		</div>
		
	<!-- The Modal -->
		<div id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<section id="chat" class="col-12">

						<div>
							<span class="close">
								<i class="fas fa-times-circle"></i>
							</span>
							<a href="http://forum-nova.test/chat" target="_blank">
								<h1>
									<i class="far fa-comments"></i>
								</h1>
							</a>
							<div class="col-12 my-1">
								<div class="p-2" id="discussion"></div>
							</div>
							<div class="col-12 saisie">
								<div class="input-group">
									<input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
									<div class="input-group-append">
										<span class="input-group-text" id="valid">
											<i class="la la-check">
												<i class="fas fa-share"></i>
											</i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>
</div>
{% endblock %}
